
build/
python_venv

test/test_runners/

src/messages.pb.c

src/messages.pb.h

packetserial.sublime-workspace

lib/nanopb-0.3.9.3/generator-bin

src/helpers.c

test.py

release/
python/.ipynb_checkpoints
python/swig/__pycache__
python/swig/_PacketDAO.cpython-311-x86_64-linux-gnu.so
python/swig/PacketDAO_wrap.c
_PacketDAO.cpython-311-darwin.so
src/messages/alarm.pb.c
src/messages/alarm.pb.h
src/messages/hid.pb.c
src/messages/hid.pb.h
src/messages/packetserial.pb.c
src/messages/packetserial.pb.h
